{% extends 'base.html' %}
{% block content %}
{% load static %}

<div>
  {% if form.email %}
  <h2>Fill out the fields below to create an account.</h2>
  {% elif form.username%}
  <h2>Please enter your info below to log in.</h2>
  {% endif %}
</div>
<div class="container mx-auto" style="padding: 60px;">
  <div class="float-start">
    <form method="post" action="" enctype="multipart/form-data">
      {% csrf_token %} {{ form.as_p }}
      <input type="submit" value="SUBMIT" />
      <br>
    {% if errors %}
      <a>{{ errors }}</a></br>
    {% endif %}
    </form>
  </div>
  <div class="float-end">
    <img 
      src="{% static '/backgroundimages/hanging-plant3.png' %}"
      style="height: 400px"  
    >
  </div>
</div>

{% endblock %}
